<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change_password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <div class="header-logo">
            <a href="{{ url_for('home')}}"><img src="{{ url_for('static', filename='Chibichange.png') }}" alt="ChibiChange"></a>
        </div>
        <!-- <div class="header-tyan">
            <img src="{{ url_for('static', filename='reg.gif') }}" alt="gifka" class="head-gif">
        </div> -->
        <div class="header-reg">
                <a href="{{ url_for('profile') }}" title="Profile">
                    <div class="user-icon" style="margin-right: 5px">{{ current_user.username[0] }}</div>
                </a>
                <a href="{{ url_for('logout') }}" title="Logout">
                    <img src="{{ url_for('static', filename='logout-icon.gif') }}" class="Logout" width="45" height="45" >
                </a>
        </div>
    </div>

    <div class="container">
        <div class="container-form">     
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <p>{{ form.current_password.label }} {{ form.current_password() }}</p>
                </div>
                <div class="form-group">
                    <p>{{ form.new_password.label }} {{ form.new_password() }}</p>
                </div>
                <div class="form-group">
                    <p>{{ form.confirm_password.label }} {{ form.confirm_password() }}</p>
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <p style="color: {{ 'red' if category == 'danger' else 'green' }}">{{ message }}</p>
                {% endfor %}
                {% set _ = session.pop('_flashes', None) %}
                {% endif %}
                {% endwith %}
                <button type="submit">Change</button>
                <div class="login-link">
                    <a href="{{ url_for('settings') }}" style="margin-left: 18%;">Back to Settings</a>
                </div>  
        </div>
        </form>
    </div>
    <div class="footer">
        <p>ChibiChange.org</p>
        <p>ChibiChangeHelp@gmail.com</p>
    </div>
</body>
</html>
