<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ currency_name|capitalize }} - ChibiChange</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <div class="header">
        <div class="header-logo">
            <a href="{{ url_for('home')}}"><img src="{{ url_for('static', filename='Chibichange.png') }}" alt="ChibiChange"></a>
        </div>
        <!-- <div class="header-tyan">
            <img src="{{ url_for('static', filename='reg.gif') }}" alt="gifka" class="head-gif">
        </div> -->
        <div class="header-reg">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('profile') }}" title="Profile">
                    <div class="user-icon">{{ current_user.username[0] }}</div>
                </a>
                <a href="{{ url_for('settings') }}" title="Settings">
                    <img src="{{ url_for('static', filename='settings-icon.png') }}" alt="Settings" width="45" height="45" style="margin-left: 0px; margin-top: 5px;">
                </a>
            {% else %}
                <a class="pressable-text" href="{{ url_for('login')}}">
                    <h2>Login</h2>
                </a>  
                <a class="pressable-text" href="{{ url_for('register')}}">
                    <h3>Register</h3>
                </a>  
            {% endif %}
        </div>

    </div>
    
    <div class="currency-content">
        <div class="currency-header">
            <h2 class="currency-title">{{ currency_name|capitalize }}</h2>
            <div class="currency-icon">💰</div>
            <img src="{{ url_for('static', filename='BTS-USDT.png') }}" alt="Graph">
        </div>
    </div>
</body>
</html>