<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

   <div class="header">
        <div class="header-logo">
            <a href="{{ url_for('home')}}"><img src="{{ url_for('static', filename='Chibichange.png') }}" alt="ChibiChange"></a>
        </div>
    </div>

    <div class="container">
        <div class="container-form">
            <h1>Login</h1>       
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <p>{{ form.username.label }} {{ form.username() }}</p>
                </div>
                <div class="form-group">
                    <p>{{ form.email.label }} {{ form.email() }}</p>
                </div>
                <div class="form-group">
                    <p>{{ form.password.label }} {{ form.password() }}</p>
                </div>
                <div class="form-group">
                    <p>{{ form.confirm_password.label }} {{ form.confirm_password() }}</p>
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <p style="color: {{ 'red' if category == 'danger' else 'green' }}">{{ message }}</p>
                {% endfor %}
                {% set _ = session.pop('_flashes', None) %}
                {% endif %}
                {% endwith %}
                <button type="submit">Register</button>
                <div class="login-link">
                    Already have an account?<a href="{{ url_for('login') }}">Login</a>
                </div>  
        </div>
        </form>
    </div>
    <div class="footer">
        <p>ChibiChange.org</p>
        <p>ChibiChangeHelp@gmail.com</p>
    </div>
</body>
</html>
