<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <div class="header-logo">
            <a href="{{ url_for('home')}}"><img src="{{ url_for('static', filename='Chibichange.png') }}" alt="ChibiChange"></a>
        </div>
        <!-- <div class="header-tyan">
            <img src="{{ url_for('static', filename='reg.gif') }}" alt="gifka" class="head-gif">
        </div> -->
        <div class="header-reg">
                <a href="{{ url_for('profile') }}" title="Profile">
                    <div class="user-icon" style="margin-right: 5px">{{ current_user.username[0] }}</div>
                </a>
                <a href="{{ url_for('logout') }}" title="Logout">
                    <img src="{{ url_for('static', filename='logout-icon.png') }}" alt="Logout" width="35" height="40" style="margin-right: 5px; margin-top: 5px;">
                </a>
        </div>
    </div>

    <div class="container">
        <div class="container-form">
        <p>Would you like to receive notifications via email?</p>
        <br>
        <div class="checkbox-container">
            <input type="checkbox" id="email-notifications" name="email-notifications">
            <label for="email-notifications">Yes, send me email notifications</label>
        </div>
        <a href="{{ url_for('change_password') }}" class="button-link">
            <button type="button">Change Password</button>
        </a>
        <ul>
            {% for item in currencies %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
        </div>
    </div>
    <div class="footer">
        <p>ChibiChange.org</p>
        <p>ChibiChangeHelp@gmail.com</p>
    </div>
</body>
</html>
