<!DOCTYPE html>
<html>
<head>
    <title>ChibiChange</title>
</head>
<body>
    <h1><a href="{{ url_for('home') }}" style="text-decoration: none; color: black;">ChibiChange</a></h1>

    <p>Ruble</p>

    <ul>
        {% for item in currencies %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>

    <!-- Главная Страница -->
    <p>
        {% if current_user.is_authenticated %}
            <!-- Иконка и имя пользователя -->
            <a href="{{ url_for('profile') }}">
                {{ current_user.username }}
            </a>
        {% else %}
            <!-- Ссылка на страницу входа -->
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </p>

</body>
</html>
